<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>游戏登录</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<script type="text/javascript" src="../static/js/login.js"></script>
</head>
<body background="../static/img/xqbg.jpg">
	<center>
		<div>
			<p class="gameName">中国象棋</p>
			<form method="POST" action="roomChoose">
				<label for="name">昵称</label>
				<input type="text" name="name" id="name"><br>
				<div class="noName" id="noName"></div>
				<!-- <label for="password">密码</label>
				<input type="password" name="password" id="password"><br>
				<div class="noPassword" id="noPassword"></div> -->
				<input type="submit" name="login" value="登录" id="login">
			</form>
		</div>
	</center>
	
	<div style="background:url(../static/img/xqbg1.jpg) -0px 0px;  left:1px; top:475px; width:388px; height:228px; position:absolute; z-index:-5">		
	</div>
</body>
</html>