<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>选择房间</title>
	<link rel="stylesheet" type="text/css" href="../static/css/roomChoose.css">
	<script type="text/javascript" src="../static/js/socket.io.js"></script>
	<script type="text/javascript" src = "../static/js/jquery2.1.4.min.js"></script>
</head>
<body background="../static/img/xqbg.jpg">
	<div class="user" style="height: 50px;">欢迎<%=user%></div>
	<center style="width: 100%;">
		<div class="roomList">
			<a class="roomButtonStyle" href="/enterRoom/?roomId=001">房间001</a>
			<a class="roomButtonStyle" href="/enterRoom/?roomId=002">房间002</a>
			<a class="roomButtonStyle" href="/enterRoom/?roomId=003">房间003</a>
		</div>
		<div class="createRoom">创建房间</div>
	</center>
	
	<div style="background:url(../static/img/xqbg1.jpg) -0px 0px;  left:1px; top:475px; width:388px; height:228px; position:absolute; z-index:-5">		
	</div>
</body>
<script type="text/javascript" src = "../static/js/roomChoose.js"></script>
<script type="text/javascript">
	
</script>
</html>